@import url("./__pic/fotos__pic.css");
@import url("./__text/fotos__text.css");
@import url("./__text_heart/fotos__text_heart.css");
@import url("./__text_name/fotos__text_name.css");

.fotos{
    width: 282px;
    height: 361px;
    background: #FFFFFF;
    border-radius: 10px; 
    }