@import url("./blocks/header/header.css");
@import url("./blocks/profile/profile.css");
@import url("./fonts/inter.css");
@import url("./blocks/page/page.css");
@import url("./blocks/elements/elements.css");
@import url("./blocks/fotos/fotos.css");
@import url("./blocks/fotos1/fotos1.css");
@import url("./blocks/fotos2/fotos2.css");
@import url("./blocks/fotos3/fotos3.css");
@import url("./blocks/fotos4/fotos4.css");
@import url("./blocks/fotos5/fotos5.css");



.footer{
    position: absolute;
    width: 318px;
height: 18px;
left: 199px;
top: 1139px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
background-color: coral;
color: #545454;

}


