@import url("./vector/header__vector.css");
@import url("./line/header__line.css");

.header{
    
    max-width: 882px;
    height: 82px;  
    display: block;
    margin: auto;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    align-self: stretch;
    padding-top: 45px;
    

}

@media screen and (max-width: 900px){
.header {/*
    padding: 28px 0 0 10%;*/
    
    max-height: 56px;
    margin-left: 0px;
    }
}


@media screen and (max-width: 320px){
    .header{
    width: 288px;
    margin-left: 5px;

    }
}

/*@media screen and (max-width: 1020px){
    .header {
      margin-left: 60px;
  
       }
    }*/
