.elements{
    max-width: 884px;
    margin: 0 auto;  
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 18px;
    grid-row-gap: 21px;

    }
  
@media screen and (max-width: 900px){
.elements {
    max-width: 450px;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    justify-content: center;
   }
}


  @media screen and (max-width: 320px) {
    .elements {
        width: 288px;
          grid-template-columns: 1fr;
          margin: 0 auto;
          margin-left: 10px;
      }
  }
