.profile__info_subname{
  font-size: 18px;
  line-height: 22px;
  margin-top: 16px;
  margin-bottom: 0;

  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #FFFFFF;
  
}