@import url(./__copy-right/footer__copy-right.css);

.footer {
    width: 318px;
    height: 18px;
  margin-top: 66px;
  margin-bottom: 60px;

  font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
color: #545454;
}



@media screen and (max-width: 425px) {
  .footer {
    
    max-width: 282px;
    margin: 0 auto;
  }
}

