.footer {
width: 318px;
height: 18px;
margin-top: 66px;
margin-bottom: 60px;
margin-left: 160px;
font-family: 'Inter', 'Arial', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
color: #545454;
}


@media screen and (max-width: 300px) {
  .footer {
        margin-left: 10px;
        width: 288px;
    }
}


@media screen and (max-width: 320px){
  .footer {
    margin-left: 10px;

     }
  }


  @media screen and (max-width: 1020px){
    .footer {
      margin-left: 60px;
  
       }
    }  